@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.manrope {
    font-family: "Manrope", sans-serif;
}

/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-white-color: rgb(255, 255, 255);
    --shade-white-color: rgb(217, 219, 225);
    --primary-blue-color: rgb(10, 8, 38);
    --button-bg-color: rgb(224, 44, 109);
    --button-text-color: rgba(224, 44, 109, 0.87);
    --grey-color1: rgb(58, 58, 58);
    --grey-color2: rgb(108, 108, 108);
    --product-price-color: rgba(0, 0, 0, 0.87);
    --product-title-color: rgb(24, 25, 31);
    --product-description-color: rgb(120, 120, 133);
    --product-rating-color: rgb(94, 99, 102);
    --product-star-color: rgb(251, 130, 0);
}
.btn{
    padding: 9px 21px;
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn h1{
    font-size: 0.88rem; /* 16px */
}
.btn img{
    padding-left: 10px;
}
section{
    margin: 40px 120px;
}









/* header section */
.header{
    color: var(--grey-color1);
    margin: 40px 120px;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav .nav_title{
    font-size: 1.32rem; /* 24px */
}
.header nav #check{
    display: none;
}
.header nav .checkBtn{
    display: none;
    cursor: pointer;
}
.header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.header nav ul li{
    list-style: none;
}
.header nav ul li a{
    text-decoration: none;
    color: var(--grey-color1);
    font-size: 0.88rem; /* 16px */
}
.header nav .hide{
    display: none;
}

.header .banner{
    margin: 44px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .banner .banner_container .banner_title{
    font-size: 2.86rem; /* 52px */
}
.header .banner .banner_container .banner_description{
    font-size: 0.88rem; /* 16px */
    font-weight: 600;
    padding: 14px 0;
    width: 70%;
}
.header .banner_img_container{
    background-image: url("../images/Circle-design.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 19px 15px;
}
.header .banner .banner_img_container img{
    width: 380px;
    height: 365px;
}

/* mobile responsive design */
@media screen and (max-width: 576px){
    .header{
        margin: 20px;
    }
    .header nav ul .li_hide{
        display: none;
    }
    .header nav .hide{
        display: block;
    }
    .header nav .checkBtn{
        display: block;
    }
    .header nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: -100%;
        transition: all .40s ease;
        backdrop-filter: blur(200px);
        flex-direction: column;
    }
    .header nav ul li{
        padding: 40px 0;
    }
    #check:checked ~ ul{
        left: 0;
    }

    .header .banner{
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .header .banner .banner_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header .banner .banner_container .banner_title{
        font-size: 1.54rem; /* 28px */
    }
    .header .banner .banner_container .banner_description{
        width: 90%;
        font-size: 0.77rem; /* 14px */
        font-weight: 500;
    }
    .header .banner .banner_container .btn h1{
        font-weight: 500;
    }
    .header .banner_img_container{
        padding: 14px 12px;
    }
    .header .banner .banner_img_container img{
        width: 177px;
        height: 167px;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .header{
        margin: 40px 80px;
    }
    .header .banner .banner_container .banner_title{
        font-size: 2.2rem; /* 40px */
    }
}










/* companies section */
.companies{
    padding: 32px 55px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
}
.companies img{
    width: 70px;
    height: 35px;
    align-self: center;
    justify-self: center;
}

/* mobile responsive design */
@media screen and (max-width: 576px){
    .companies{
        padding: 20px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: "item1 item1 item2 item2 item3 item3 item4 item4"
                             "empty item5 item5 item6 item6 item7 item7 empty2";
        gap: 20px;
    }

    .companies img:nth-child(1){
        grid-area: item1;
    }
    .companies img:nth-child(2){
        grid-area: item2;
    }
    .companies img:nth-child(3){
        grid-area: item3;
    }
    .companies img:nth-child(4){
        grid-area: item4;
    }
    .companies img:nth-child(5){
        grid-area: item5;
    }
    .companies img:nth-child(6){
        grid-area: item6;
    }
    .companies img:nth-child(7){
        grid-area: item7;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}










/* collection section */
.collection{
    padding: 50px;
}
.collection .collection_title{
    font-size: 1.54rem; /* 28px */
    font-weight: 600;
    color: var(--grey-color1);
    text-align: center;
}
.collection .collection_container{
    margin: 26px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}
.collection .collection_container .collection_container_item{
    padding: 15px 13px;
    border-radius: 4px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.collection .collection_container .collection_container_item img{
    width: 100%;
}
.collection .collection_container .collection_container_item .collection_box{
    width: 70%;
    padding: 10px 0;
}
.collection .collection_container .collection_container_item .collection_box .box_title{
    font-size: 1.54rem; /* 28px */
    font-weight: 500;
    color: var(--product-title-color);
}
.collection .collection_container .collection_container_item .collection_box .box_price{
    font-family: "Inter", sans-serif;
    font-size: 1.32rem; /* 24px */
    color: var(--product-price-color);
    padding: 8px 0;
}
.collection .collection_container .collection_container_item .collection_box .box_content{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.collection .collection_container .collection_container_item .collection_box .box_content i{
    color: var(--product-star-color);
    font-size: 0.77rem; /* 14px */
}
.collection .collection_container .collection_container_item .collection_box .box_content .box_rating_content .box_rating{
    font-family: "Roboto", sans-serif;
    font-size: 0.77rem; /* 14px */
    font-weight: 700;
    color: var(--product-rating-color);
    padding-left: 8px;
}
.collection .collection_container .collection_container_item .collection_box .box_description{
    font-family: "Inter", sans-serif;
    font-size: 0.77rem; /* 14px */
    font-weight: 700;
    color: var(--product-description-color);
}

.collection .collection_btn_container{
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.collection .collection_btn_container .btn{
    padding: 0;
    color: var(--button-text-color);
    background-color: var(--primary-white-color);
}

/* mobile responsive design */
@media screen and (max-width: 576px){
    .collection{
        padding: 20px 0;
    }
    .collection .collection_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .collection .collection_container .collection_container_item .collection_box .box_title{
        font-weight: 700;
    }
    .collection .collection_container .collection_container_item .collection_box .box_price{
        font-weight: 700;
    }
    .collection .collection_container .collection_container_item .collection_box .box_content .box_rating_content .box_rating{
        font-weight: 500;
    }
    .collection .collection_container .collection_container_item .collection_box .box_description{
        font-weight: 400;
    }
}

/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    .collection{
        padding: 0;
    }
    .collection .collection_container .collection_container_item .collection_box .box_title{
        font-size: 1.21rem; /* 22px */
    }
    .collection .collection_container .collection_container_item .collection_box .box_price{
        font-size: 0.99rem; /* 18px */
    }
    .collection .collection_container .collection_container_item .collection_box .box_content i{
        font-size: 0.44rem; /* 8px */
    }
    .collection .collection_container .collection_container_item .collection_box .box_content .box_rating_content .box_rating{
        font-size: 0.44rem; /* 8px */
    }
    .collection .collection_container .collection_container_item .collection_box .box_description{
        font-size: 0.44rem; /* 8px */
    }
}












/* featured section */
.featured{
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
}
.featured .featured_img_container{
    width: 40%;
}
.featured .featured_img_container img{
    border-radius: 4px;
}
.featured .featured_container{
    width: 60%;
}
.featured .featured_container .featured_title{
    font-size: 1.59rem; /* 38px */
    color: var(--primary-blue-color);
}
.featured .featured_container .featured_description{
    font-size: 0.88rem; /* 16px */
    font-weight: 700;
    color: var(--grey-color2);
    width: 80%;
    padding: 20px 0;
}
.featured .featured_container .btn{
    border-radius: 0;
}
/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}



















/* mobile responsive design */
@media screen and (max-width: 576px){

}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){

}


/* mobile responsive design */
@media screen and (max-width: 576px){
    /* common style */
    section{
        margin: 20px;
    }
}
/* tablet responsive design */
@media screen and (min-width: 577px) and (max-width: 992px){
    section{
        margin: 40px 80px;
    }
}