@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.inter {
    font-family: "Inter", sans-serif;
}
.manrope {
    font-family: "Manrope", sans-serif;
}

/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-white-color: rgb(255, 255, 255);
    --shade-white-color: rgb(217, 219, 225);
    --primary-blue-color: rgb(10, 8, 38);
    --primary-button-color: rgb(224, 44, 109);
    --black-color1: rgba(0, 0, 0, 0.87);
    --shade-black-color: rgb(24, 25, 31);
    --grey-color1: rgb(58, 58, 58);
    --grey-color2: rgb(120, 120, 133);
    --grey-color3: rgb(108, 108, 108);
}
.btn{
    padding: 7px 16px;
    color: var(--primary-white-color);
    background-color: var(--primary-button-color);
}



/* header section */